# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  version
  defaults

metadata:
  author=Chris <chris@dmdirc.com>
  mainclass=com.dmdirc.addons.ui_web.WebInterfacePlugin
  description=A web-based interface to DMDirc
  name=ui_web
  nicename=Web Interface
  unloadable=no

version:
  friendly=0.2

provides:
  web ui

permanent:
  *

defaults:
