# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  updates
  version
  requires

metadata:
  author=Greboid <greg@dmdirc.com>
  mainclass=com.dmdirc.addons.activewindow.ActiveWindowPlugin
  description=Provides an active window command to the swing UI
  name=activewindow
  nicename=Active Window

updates:
  id=66

requires:
  parent=ui_swing

version:
  friendly=0.1

provides:
  active command

required-services:
  swing ui

version:
  number=0.6.5-296-g125c701

version:
  number=0.6.5-296-g125c701
