# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  updates
  version
  defaults
  icons

metadata:
  author=Greg <greg@dmdirc.com>
  mainclass=com.dmdirc.addons.parser_msn.MSNPlugin
  description=Provides MSN access for DMDirc.
  name=msn
  nicename=MSN Plugin

updates:
  id=68

version:
  number=1
  friendly=0.1

provides:
  msn parser
  msns parser


exports:
  getParser in com.dmdirc.addons.parser_msn.MSNPlugin as getParser
  getDescription in com.dmdirc.addons.parser_msn.MSNPlugin as getProtocolDescription
