# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  updates
  version
  requires

metadata:
  author=Chris <chris@dmdirc.com>
  mainclass=com.dmdirc.addons.mediasource_mplayer.MplayerMediaSourcePlugin
  description=Provides a media source for mplayer
  name=mplayermediasource
  nicename=MPlayer Media Source

updates:
  id=28

version:
  friendly=1.0

provides:
  mplayer mediasource

requires:
  os=linux
  files=/bin/bash,/usr/bin/lsof

required-services:
  mediasource manager