keysections:
  metadata
  version
  updates
  defaults

metadata:
  mainclass=com.dmdirc.addons.scriptplugin.ScriptPlugin
  author=Shane <shane@dmdirc.com>
  description=Allows using javascript scripts with DMDirc
  name=script
  nicename=Scripting Plugin

version:
  number=3
  friendly=0.4

updates:
  id=33

defaults:
  eval.showStackTrace=false

provides:
  script command
  scripting feature
  javascript script