# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  updates
  version
  requires

metadata:
  author=Chris <chris@dmdirc.com>
  mainclass=com.dmdirc.addons.mediasource_linux_title.TitleMediaSourcePlugin
  description=Provides a media source for the Linux Last.fm and Spotify clients
  name=linuxtitlemediasource
  nicename=Linux Title Media Source

updates:
  id=27

version:
  friendly=0.1

provides:
  spotify mediasource
  lastfm mediasource

requires:
  os=linux
  files=/bin/bash

required-services:
  mediasource manager