# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  updates
  version
  defaults
  icons

metadata:
  author=Chris <chris@dmdirc.com>
  mainclass=com.dmdirc.addons.parser_xmpp.XmppPlugin
  description=Provides XMPP access for DMDirc.
  name=xmpp
  nicename=XMPP Plugin

updates:
  id=63

version:
  number=1
  friendly=0.2

provides:
  xmpp parser
  xmpps parser


exports:
  getParser in com.dmdirc.addons.parser_xmpp.XmppPlugin as getParser
  getDescription in com.dmdirc.addons.parser_xmpp.XmppPlugin as getProtocolDescription
