# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  updates
  version
  requires
  icons

metadata:
  author=Chris <chris@dmdirc.com>
  mainclass=com.dmdirc.addons.contactlist.ContactListPlugin
  description=Proof of concept contact list support
  name=contactlist
  nicename=Contact List

updates:
  id=67

version:
  friendly=0.2

provides:
  contactlist command

icons:
  query-away=plugin://contactlist:com/dmdirc/addons/contactlist/res/offline.png
  query-here=plugin://contactlist:com/dmdirc/addons/contactlist/res/online.png