keysections:
  metadata
  requires
  version

metadata:
  author=Chris Northwood <chrisn@dmdirc.com>
  mainclass=com.dmdirc.addons.osx_integration.OsxIntegrationPlugin
  description=Provides commands that integrate with OSX
  name=osx_integration
  nicename=OSX Integration Plugin

requires:
  parent=ui_swing

required-services:
  swing ui


version:
  friendly=1.0

provides:
  dockbounce command
