# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  updates
  version
  requires

metadata:
  author=Greg <greg@dmdirc.com>
  mainclass=com.dmdirc.addons.serverlistdialog.ServerListDialogPlugin
  description=Support for server lists
  name=serverlistdialog
  nicename=Server List Dialog

updates:
  id=74

version:
  friendly=0.2

requires:
  parent=ui_swing

persistent:
  *
