# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  updates
  version
  requires

metadata:
  author=Chris <chris@dmdirc.com>
  mainclass=com.dmdirc.addons.mediasource_dbus.DBusMediaSource
  description=Provides a media source for dbus-enabled clients
  name=dbusmediasource
  nicename=DBus Media Source

updates:
  id=39

version:
  friendly=2.1

provides:
  mpris mediasource

requires:
  os=linux
  files=/usr/bin/qdbus|/bin/qdbus

required-services:
  mediasource manager