keysections:
  metadata
  version

metadata:
  mainclass=com.dmdirc.addons.parserdebug.DebugPlugin
  author=Shane <shane@dmdirc.com>
  description=Allows viewing of parser debugging. (Hacky, likely to break stuff!)
  name=parserdebug
  nicename=Parser Debug Plugin

version:
  number=3
  friendly=0.3

provides:
  debug command