# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  updates
  version
  defaults

metadata:
  author=Greg <greg@dmdirc.com>
  mainclass=com.dmdirc.addons.debug.DebugPlugin
  description=Provides some useful debug commands, mostly to aid in development of the client.
  name=debug
  nicename=Debug
  unloadable=yes

updates:
  id=62

version:
  friendly=1.0

defaults: