# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  version
  defaults
  updates

metadata:
  author=Chris <chris@dmdirc.com>
  mainclass=com.dmdirc.addons.nma.NotifyMyAndroidPlugin
  description=Facilitates sending notifications to NotifyMyAndroid
  name=nma
  nicename=Notify My Android plugin

updates:
  id=72

version:
  friendly=0.1

provides:
  notifymyandroid command

defaults:
  apikey=
  application=DMDirc