# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  version
  requires
  defaults

metadata:
  author=Greg <greg@dmdirc.com>
  mainclass=com.dmdirc.addons.notifications.NotificationsPlugin
  description=Provides a notification command exposing notifications plugins centrally.
  name=notifications
  nicename=Notification Manager

version:
  friendly=0.1

requires:
  parent=ui_swing

required-services:
  swing ui

provides:
  notification command
  notification manager
