# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  requires
  updates
  defaults
  formatters
  icons
  version

metadata:
  author=Shane <shane@dmdirc.com>
  mainclass=com.dmdirc.addons.freedesktop_notifications.FreeDesktopNotificationsPlugin
  description=Adds FreeDesktop-Style Notifications to dmdirc
  name=freedesktop_notifications
  nicename=FreeDesktop Notifications Plugin

updates:
  id=48

version:
  number=8
  friendly=1.0

defaults:
    general.hideoutput=false

requires:
#    linux os

provides:
  osd feature

defaults:
  general.timeout=5
  general.kdialog=false
  advanced.escapehtml=true
  advanced.stripcodes=true

exports:
  showNotification in com.dmdirc.addons.freedesktop_notifications.FreeDesktopNotificationsPlugin as showNotification
