# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  updates
  version
  defaults
  icons

metadata:
  author=Shane <shane@dmdirc.com>
  mainclass=com.dmdirc.addons.parser_twitter.TwitterPlugin
  description=Provides twitter access for DMDirc.
  name=twitter
  nicename=Twitter Plugin

updates:
  id=49

version:
  number=28
  friendly=2.8

defaults:
  statuscount=20
  apicalls=175
  debugEnabled=false
  hide500Errors=true
  saveLastIDs=false
  getSentMessages=false
  replaceOpeningNickname=false
  autoAt=false
  autoLeaveMessageChannel=false
  # Pre-configured support for twitter api
  api.address.twitter.com=api.twitter.com
  api.versioned.twitter.com=true
  # Pre-configured support for identi.ca twitter-ish api
  api.address.identi.ca=identi.ca/api
  api.versioned.identi.ca=false

provides:
  twitter parser
  twitters parser

exports:
  getParser in com.dmdirc.addons.parser_twitter.TwitterPlugin as getParser
  getDescription in com.dmdirc.addons.parser_twitter.TwitterPlugin as getProtocolDescription

icons:
  category-twitter=plugin://twitter:com/dmdirc/addons/parser_twitter/res/twitter.png