# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  updates
  version

metadata:
  author=Greg <greg@dmdirc.com>
  mainclass=com.dmdirc.addons.channelwho.ChannelWhoPlugin
  description=Sends WHOs to channels and optionally notifies of away states
  name=channelwho
  nicename=Channel Who

updates:
  id=75

version:
  friendly=0.1