body {
    font-family: sans-serif;
}

#titlebar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background: url('images/background.png') repeat-x bottom;
    color: white;
    height: 24px;
}

#titlebar #throbber {
    width: 16px;
    height: 16px;
    padding: 4px;
}

#titlebar #title {
    font-size: 14px;
    padding: 4px 0;
    position: absolute;
    vertical-align: middle;
    top: 0px;
    left: 25px;
    margin-right: 240px;
    height: 1em;
    overflow: hidden;
}

#toolbar {
    position: absolute;
    top: 24px;
    left: 0px;
    right: 0px;
    height: 25px;
    background-color: #e0e0e0;
    border-bottom: 1px solid #666;
}

#toolbar .button {
    display: -moz-inline-stack;
    display: inline-block;
    border-right: 1px solid #333;
    width: 150px;
    text-align: center;
    height: 19px;
    margin: 0px;
    padding: 3px;
    font-size: small;
    vertical-align: middle;
    cursor: pointer;
}

#toolbar .button:hover {
    background-color: #efefef;
}

#toolbar .button:active {
    background-color: #ccc;
}

#treeview {
    position: absolute;
    left: 15px;
    top: 65px;
    bottom: 40px;
    width: 175px;
    border: 1px solid black;
    padding-left: 30px;
    margin: 0px;
}

#treeview ul {
    padding-left: 25px;
}

#treeview li {
    list-style-image: url('/static/images/dmdirc.gif');
    margin: 3px 0px;
    padding: 0px;
}

#treeview li.server {
    list-style-image: url('/dmdirc/server.png');
}

#treeview li.channel {
    list-style-image: url('/dmdirc/channel.png');
}

#treeview li.query {
    list-style-image: url('/dmdirc/query.png');
}

#content {
    position: absolute;
    left: 240px;
    top: 65px;
    right: 15px;
    bottom: 40px;
    padding: 4px;
    border: 1px solid black;
    overflow: auto;
}

#content p, #wus_requests p {
    margin: 0px;
    padding: 0px;
}

.nowindow {
    font-size: xx-large;
    text-align: center;
    margin-top: 100px;
    padding: 0px 100px;
    color: #aaa;
}

#nicklist {
    position: absolute;
    right: 15px;
    top: 75px;
    bottom: 40px;
    width: 215px;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    display: none;
}

#nicklist li {
    list-style-type: none;
    margin: 2px;
    padding: 0px;
}

#inputarea {
    position: absolute;
    bottom: 40px;
    left: 240px;
    right: 15px;
    height: 20px;
    display: none;
}

#inputarea #input {
    width: 100%;
    border: 1px solid black;
}

#statusbar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    border-top: 1px solid black;
    background-color: #ccc;
    font-size: small;
}

#statusbar div {
    padding: 3px;
}

.dialog {
    padding: 0px;
    background-color: white;
}

.dialog h2 {
    margin: 0px;
    padding: 3px;
    background-color: black;
    color: white;
    font-size: small;
    font-weight: normal;
    cursor: default;
}

.dialog .dialogcontents {
    padding: 0px 10px;
}

.dialog .form {
    width: 100%;
}

.dialog .form input[type="text"], .dialog .form input[type="password"], .dialog .form select {
    width: 100%;
}

.dialog label {
    display: block;
}

.dialog .buttons {
    text-align: right;
    margin-top: 10px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.dialog .buttons input {
    width: 100px;
}

.wus_clients {
    width: 100%;
}

.wus_last {
    font-size: small;
}

th {
    text-align: left;
}

#wus_requests {
    width: 100%;
    height: 100px;
    overflow: auto;
    border: 1px solid black;
    font-size: x-small;
}

.speedbuttons {
    position: absolute;
    top: 3px;
    right: 5px;
    text-align: right;
    color: white;
    font-size: small;
}

.speedbuttons a {
    color: white;
    text-decoration: none;
}