# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  updates
  version

metadata:
  author=Greg <greg@dmdirc.com>
  mainclass=com.dmdirc.addons.qauth.QAuthPlugin
  description=Authenticates to Q on Quakenet
  name=qauth
  nicename=Q Authenticator

updates:
  id=77

version:
  friendly=0.1